:root {
    /* font base a 10 px per lavorare più facilmente con le unità rem/em */
    font-size: 62.5%;

    /* variabili per gestire i colori e i bordi */
    --bg: #11146d80;
    --bg_2: #f4f4f9eb;
    --color: #1c1c1e;

    /* LINK E STATI INTERATTIVI */
    --link: #0055ff;
    --hover: #003ecc;
    --active: #ff5500;

    /* STILI TESTI E BORDI */
    --title: #222222;
    --border: 2px solid #cccccc;
    --shadow: 1px 3px 2px rgb(0 0 0);
}

/* azzero margini e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* rendo il body responsive */
body {
    position: relative;

    width: 100%;
    min-height: 100vh;

    font-size: 1.7em;

    display: flex;
    flex-direction: column;
    flex-direction: 1 1 auto;

    gap: 0.5em;

    background-color: var(--bg);
    color: var(--color);

    cursor: default;
}

/* INIZIO A GESTIRE LO STILE DEL SITO PER UTILIZZO MOBILE (VIEWPORT INFERIORI A 425PX) */

/* parte alta del sito, HEADER */
header#testaPage {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* titolo h1 */
header#testaPage>h1 {
    padding: 0.2em;

    color: var(--title);

    font-family: "Limelight", sans-serif;
    font-weight: 900;
    font-style: normal;

    text-shadow: var(--shadow);
}

/* contenitore pulsanti categorie */
header>div#categorie {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 0.2em;
}

/* pulsanti categorie */
header>div#categorie>button {
    padding: 0.2em;
    border-radius: 12px;

    font-size: 0.7em;

    font-family: "Amarante", serif;
    font-weight: bold;
    font-style: normal;

    box-shadow: var(--shadow);
    background-color: var(--bg_2);
    border: var(--border);

    transition: all 0.3s ease;
    cursor: pointer;
}

/* contenuto della pagina, MAIN */
main#corpoQuiz {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 100%;

    /* immagine sfondo */
    background-color: var(--title);
    background-image: url(Immagini/image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* sottotitolo h2 */
main#corpoQuiz>h2 {
    text-align: center;
    padding: 0.2em;

    color: var(--bg_2);

    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* contenitore sezioni */
main#corpoQuiz>div#relativ {
    position: relative;

    width: 100%;
    height: 50vh;
}

/* sezione quiz */
main#corpoQuiz>div#relativ>section#quiz {
    display: flex;
    flex-direction: column;
}

/* domanda quiz */
main#corpoQuiz>div#relativ>section#quiz>h2 {
    text-align: center;

    color: var(--bg_2);

    font-family: "Amarante", serif;
    font-weight: bold;
    font-style: normal;

    padding: 0.2em;
}

/* contenitore risposte div */
main#corpoQuiz>div#relativ>section#quiz>div#risposte {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    gap: 0.5em;
}

/* pulsanti risposte */
main#corpoQuiz>div#relativ>section#quiz>div#risposte>button.solution {
    text-align: start;
    padding: 0.2em;
}

/*  per effetti visivi: */
button.solution.corretta {
    background-color: green;
    color: white;
}

button.solution.sbagliata {
    background-color: crimson;
    color: white;
}









/* FOOTER */
footer#piePag {
    display: flex;
    flex-direction: column;
    align-items: center;
}